{% extends 'base.html' %}

{% block title %}Alumnos{% endblock %}

{% block content %}
    <h1>Lista de Alumnos</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Aprobado</th>
            <th>Nota</th>
            <th>Fecha</th>
        </tr>
        {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno[0] }}</td>
            <td>{{ alumno[1] }}</td>
            <td>{{ alumno[2] }}</td>
            <td>{{ alumno[3] }}</td>
            <td>{{ alumno[4] }}</td>
            <td>{{ alumno[5] }}</td>
            <td>
                <a href="{{ url_for('editar_alumno', id=alumno[0]) }}">Editar</a>
                <form action="{{ url_for('eliminar_alumno', id=alumno[0]) }}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar este alumno?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('agregar_alumno') }}">Agregar Alumno</a>
    
{% endblock %}

